<!DOCTYPE html>
<html>
<head>
	<title>create</title>
	<link rel="stylesheet" type= "text/css" href= "static/styles/create.css">
</head>

<nav id="navbar">
	<div class="items">

		<a class="menu" href="/">Home</a>
	    <a class="menu" href="/Stack">Stack</a>
	    <a class="menu" href="/About">About</a>

	</div>

</nav>

<body>

    <div id="pic">

        <form id = input method = "POST" action="/saved" 
             enctype = "multipart/form-data">

            Name : 
            <input type="text" name="Name" placeholder="Username">

            <br>
            <br>
            
            ImagePath :

            <input type="text" name="ImagePath" placeholder="imagepath">
            <input class="submit" type = "submit" />

        </form>




        

    </div>


</body>

<footer class="footer">
    
    <p>&copy; 2019 Test Website &nbsp; Design by Ankur Yadav</p>

</footer>

</html>