<!DOCTYPE html>
<html>
<head>
	<title>Login System</title>
	<link rel="stylesheet" type= "text/css" href= "/static/styles/home.css">
</head>

<nav id="navbar">
	<div class="items">

		<a class="menu" href="/">Home</a>
	    <a class="menu" href="/Stack">Stack</a>
	    <a class="menu" href="/About">About</a>

	</div>

</nav>

<body>

    <div id="pic">
        <div>
            <h1 id="txt">Login System using Face Recognition</h1>

        </div>

        <div id=login>

            <a id="button" href="http://127.0.0.1:5000/login">Login</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="button" href="http://127.0.0.1:5000/create">New Entry</a>
        
        </div>

    </div>


</body>

<footer class="footer">
    
    <p>&copy; 2018 Test Website &nbsp; Design by Ankur Yadav</p>

</footer>

</html>