<!DOCTYPE html>
<html>
<head>
	<title>Login System</title>
	<link rel="stylesheet" type= "text/css" href= "static/styles/saved.css">
</head>

<nav id="navbar">
	<div class="items">

		<a class="menu" href="/">Home</a>
	    <a class="menu" href="/Stack">Stack</a>
	    <a class="menu" href="/About">About</a>

	</div>

</nav>

<body>

    <div id="pic">
        
  
       <form id = input method = "POST" action="/saved" 
             enctype = "multipart/form-data">

            <a style="color:white"> Entry Saved </a> 
            
        </form>

    </div>


</body>

<footer class="footer">
    
    <p>&copy; 2018 Test Website &nbsp; Design by Ankur Yadav</p>

</footer>

</html>