<!DOCTYPE html>
<html>
<head>
    <title>Login System</title>
    <link rel="stylesheet" type= "text/css" href= "/static/styles/stack.css">
</head>

<nav id="navbar">
    <div class="items">

        <a class="menu" href="/">Home</a>
        <a class="menu" href="/Stack">Stack</a>
        <a class="menu" href="/About">About</a>

     </div>

</nav>

<body>

    <div id="pic">
        <div>
            <h1 id="txt"></h1>
        </div>

        <h3 class='head'>
    
            The Technology Stack used are :

        </h3>

        <p class="text">Front End : HTML 5 and CSS</p>
        <p class="text">Back End : Python and Flask</p>

    </div>


</body>

<footer class="footer">
    
    <p>&copy; 2018 Test Website &nbsp; Design by Ankur Yadav</p>

</footer>

</html>




